<select id="location" required>
    <optgroup label="Centrum">
        <option>Oosterdok</option>
    </optgroup>
    <optgroup label="Noord">
        <option>Banne</option>
        <option>Molenwijk</option>
        <option>Van der Pek</option>
        <option>Waterlandplein</option>
        <option>IJburg</option>
    </optgroup>
    <optgroup label="Oost en diemen">
        <option>Javaplein</option>
        <option>Linnaeus</option>
        <option>Diemen</option>
    </optgroup>
    <optgroup label="Ouder-Amstel">
        <option>Duivendrecht</option>
        <option>Ouderkerk</option>
    </optgroup>
    <optgroup label="Zuid-oost en Weesp">
        <option>Weesp</option>
        <option>punt Ganzenhoef</option>
        <option>Reigersbos</option>
        <option>Bijlmerplein</option>
    </optgroup>
    <optgroup label="Zuid">
        <option>Buitenveldert</option>
        <option>CC Amstel</option>
        <option>Olympisch Kwartier</option>
        <option>Roelof Hartplein</option>
    </optgroup>
    <optgroup label="West">
        <option>Bos en Lommer</option>
        <option>De Hallen</option>
        <option>Mercatorplein</option>
        <option>Spaarndammerbuurt</option>
        <option>Staatsliedenbuurt</option>
    </optgroup>
    <optgroup label="Nieuw-west">
        <option>Geuzenveld</option>
        <option>Osdorp</option>
        <option>Slotermeer</option>
        <option>Postjesweg</option>
    </optgroup>
</select>