	<section class="searchbar">
		<h1>Waar bent u naar op zoek?</h1>
            <form action="" method="get">
                <label for="site-search">binnen de website zoeken</label>
                <input
                    class="hide"
                    type="search"
                    id="site-search"
                    name="site-search"
                />
            </form>
	</section>