<%- include('./partials/head') %> <%-
include('./partials/header') %>

<main>
	<section>
		<h1>Welkom bij de oba</h1>
		<h2>Selecteer een categorie</h2>
	</section>
	<section class="items">
		<article>
			<h2>Boeken</h2>
			<a href="/categorieen<% results.formats %>">Bekijk categorie</a>
		</article>
	</section>
</main>

<%- include('./partials/foot') %>
