<%- include('./partials/head') %> <%-
include('./partials/header-login') %>
<main>
	<section>
		<h1>Log in met uw oba account</h1>
	</section>
	<section class="login">
		<form action="/login" method="post">
			<fieldset>
				<legend>Log in</legend>
				<label for="email">E-mailadres:</label>
				<input
					type="email"
					id="email"
					name="email"
					required
				/>
				<label for="password">Wachtwoord:</label>
				<input
					type="password"
					id="password"
					name="password"
					required
				/>
				<button
					class="cta"
					type="submit"
					value="inloggen"
				>
					inloggen
				</button>
			</fieldset>
		</form>
	</section>
</main>
<%- include('./partials/foot') %>
